<%# views/index.ejs %>

<% extend('layout') %>
    
<main class="container">
  <div class="double">
    <div class="container column">
      <div class="container">
        <form method="POST" action='/'>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Article's Title">
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" class="form-control" id="author" placeholder="Article's Author">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" class="form-control" id="body" placeholder="Article's Body"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
  <div class="column" id="appInfo">
    <div>
      <p class="text-muted">
        This web app was built using JavaScript front to back using Node/Express for the backend server, Mongo/Mongoose for
        the database management while it is hosted in mLab and Bootstrap for the frontend components.
      </p>
      <p class="text-muted">
        It enables the user to write an article, edit and delete them.
      </p>
    </div>
    <div id="logos">
      <img class="logo" src="/img/js.svg" alt="JavaScript Logo">
      <img class="logo" src="/img/node.svg" alt="Nodejs Logo">
      <img class="logo" src="/img/mongodb.svg" alt="MongoDB Logo">
      <img class="logo" src="/img/mlab.svg" alt="mLab Logo">
    </div>
  </div>
</div>

<hr/>

  <h1>
    <%= title  %>
  </h1>
  <ul class="list-group">
    <% articles.forEach(article => { %>
    <li class="list-group-item">
      <h3>
        <%= article.title %>
      </h3>
      <p>
        <%= article.body %>
      </p>
      <p>
        <%= article.author %>
      </p>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

          let delBtn = document.getElementById('deleteBtn')
          delBtn.addEventListener('click', () => {
            $.ajax({
              type: 'DELETE',
              url: '/<%= article.id %>',
              success: res => {
                window.location.href='/'
              },
              error: err => {
                console.log(err);
              }
            })
          })
        }, false);
      </script>
      <a class="btn btn-warning" href="/edit/<%= article.id %>" >Edit</a>
      <a class="btn btn-danger" id="deleteBtn">Delete</a>
    </li>
    <% }) %>
  </ul>
</main>